# Source files
src/
test/

# Config files
.eslintrc
.jest.config.js
.rollup.config.js
.prettierrc

# Documentation
CHANGELOG.md

# Git
.gitignore
.gitattributes

# Build files
*.map

# Explicitly include dist directory
!dist/